* {
    font-family: 'open sans', sans-serif;
}

.header {
    background-color: #ffffff; 
}

.container_header {
    position: relative;
}

.smallOne {
    background-color: #cccccc;
    font-size: 14px;
    z-index: 1; 
    position: relative;
}

.box {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 15px; 
}

.header figure {
    position: absolute;
    top: 20px; 
    z-index: 2; 
}

.header span {
    display: flex;
    align-items: center;
    padding: 3px 8px 3px 8px;
}

.header span img {
    padding-right: 3px;
}

.header a {
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 8px;
}

.header nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 8px;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header li {
    padding: 0px 8px;
}

.header li a {
    color: #4A51B0;
}

.alarmText, .loginLink, .registerLink {
    color: #B61919;
    font-weight: bold;
}

.header button {
    background-color: #4A51B0;
    color: #FFFF;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
