* {
    font-family: 'open sans', sans-serif;
}

.header {
    background-color: #ffffff; /* ou qualquer cor de fundo que você preferir */
}

.container_header {
    position: relative;
}

.smallOne {
    background-color: #cccccc;
    font-size: 14px;
    z-index: 1; /* Garante que o conteúdo de smallOne fique acima de outros elementos */
    position: relative;
}

.box {
    max-width: 1200px; /* ajuste conforme necessário */
    margin: 0 auto;
    padding: 0 15px; /* espaço nas laterais */
}

figure {
    position: absolute;
    top: 20px; /* Ajuste conforme necessário */
    z-index: 2; /* Garante que o logo fique acima de smallOne */
}

span {
    display: flex;
    align-items: center;
    padding: 3px 8px 3px 8px;
}

span img {
    padding-right: 3px;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 8px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 8px;
}

nav ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0px 8px;
}

li a {
    color: #4A51B0;
}

.alarmText, .loginLink, .registerLink {
    color: #B61919;
    font-weight: bold;
}

button {
    background-color: #4A51B0;
    color: #FFFF;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
