*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===========================Base estrutura=================================*/

.search-container {
  display: flex;
  background-color: #5784B2;
}

.hero-box{
  width: 50%;
}

/*===========================Right side =================================*/

.vehicle-form-container {
  padding: 20px 0;

  
}

.vehicle-form {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  color: white;
  
}
.vehicle-form p {
  font-weight: lighter;
  color: #020747;
}

.vehicle-form input {
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
}




.vehicle-form button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #4A51B0;
  color: white;
  cursor: pointer;
  
}

.vehicle-form button:hover {
  background-color: #0056b3;
}

.advanced-options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.advanced-options a {
  color: #020747;
  text-decoration: none;
  font-weight: lighter;
}


.advanced-options a:hover {
  text-decoration: underline;
}


/*===========================left side=================================*/



.leftSide{

  position: relative;
  background-image: url("../../assets/bike.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.leftSide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

.left-text{
  color: white;
  
}

.left-text h1{
  font-size: 60px;
  margin-bottom: 5px;
}

.left-text p{
  font-size: 25px;
  font-weight: lighter;
  
}

.left-button{
  margin-top: 100px;
  display: flex;
}

.left-button button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 230px;
  margin-right: 10px;
  background-color: #5784B2;
  padding: 10px 20px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 15px;
  opacity: 0.9;
}

.left-button button img{
 margin-right: 10px;
 width: 44px;
  height: 44px;
}




/*===========================Resto do conteudo -  rafael =================================*/


.advertise-container{
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 15px; 
}

.advertise-box{
  max-width: 900px; 
}

.advertise-box span{
  display: flex;
  align-items: center;
  color: #5784B2;
  font-size: 30px;
  padding: 10px 0;
}

.advertise-box span img{
  padding-right: 10px;
}